:root
{
    --primario: #067084;
    --secundario: #0097a7;
    --terciario: #022C34;
    --cuaternario: #0e1f36;
    --quinto: #343b4a;
    --oscuro: #212121;
    --gris: #757575;
    --blanco: #fff;
}

html
{
    font-size: 62.5%;
    box-sizing: border-box;
    background: rgb(2,44,52);
    background: linear-gradient(90deg, rgba(2,44,52,1) 15%, rgba(0,151,167,1) 40%, rgba(6,112,132,1) 60%, rgba(2,44,52,1) 85%);
    scroll-snap-type: y mandatory;
}

/*TIPOGRAFIA*/
h1
{
    font-size: 3.8rem;
}
h2
{
    font-size: 2.8rem;
}
h3
{
    font-size: 1.8rem;
}
h1,h2,h3
{
    text-align: center;
}

/*Memo Toño*/  

.nav_bg
{
    background-color: var(--terciario);
}

.nav_principal
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconos
{
    max-width: 120rem;
    margin: 0 auto;
}

.redes
{
    display: inline-block;
    padding: 0 1rem;
    font-size: 16px; /* Tamaño de la fuente del icono */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5rem;
    background-size: contain; /* Ajusta el tamaño del icono */
}
.redes:hover
{
    padding: 1.5rem;
    border: 1px solid var(--quinto);
}


/*ypo*/
.hero
{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
}

.container-hero
{
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end
}

.container-hero h3
{
    color: var(--quinto);
    font-size: 5rem;
    cursor: pointer;
    border-radius: 1rem;
}

.container-hero h3:hover
{
    color: var(--primario);
    font-size: 5rem;
    border: 1px solid var(--quinto);
}

.date
{
    text-align: center;
    
}


.contain-shadow
{

}

/*Ragdios*/
.form-subscribe {
    text-align: center;
}
.form-subscribe{
    background-color: var(--terciario);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5rem;
}

  .form-subscribe fieldset {
    border: none;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}
  
 .form-subscribe legend {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: yellow; /*Color solo puesto para ver cambios*/
    text-transform: uppercase;
  }
.entrada{
    margin-bottom: 1rem;
}
.entrada label {
    color: var(--blanco);
    font-weight: bold;
    display: block;
    color: pink;
  }

  .entrada input{
    background-color: var(--blanco);
    text-transform: uppercase;
  }

  .boton_enviar{
    background-color:red;  /*Color solo puesto para notar cambios*/
    margin-top: 1rem;
    font-style: italic;
    font-weight: bold;
  }


/*Isau*/
.contact
{
    justify-content: left; /* Alineación a la izquierda */
    padding: 1rem; /* Relleno */
    font-size: 1.5rem; /* Tamaño de la fuente */
}
.contact h2
{
    text-align: left; /* Alineación del texto a la izquierda */
    color: var(--oscuro); /* Color del texto */
    font-size: 3.7rem; /* Tamaño de la fuente */
    margin-bottom: 2rem; /* Margen inferior */
}
.contact p{
    color: var(--blanco); /* Color del texto */
}


/*Uicab*/
.footer
{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    text-align: center;
}

@media (min-width: 768px) 
{
    .nav_principal
    {
        flex-direction: row;
    }
}
