:root
{
    --AzulProfundo: #001F3F;
    --AzulEspacial: #071E3D;
    --AzulNocturno: #004080;
    --AzulNocturno2:#00509E;
    --AzulNebulosa: #214559;
    --AzulNebulosa2: #3A536A;
    --AzulCeleste: #33A1DE;
    --AzulCeleste2: #5DC8FF;
    --AzulCeleste3: #0080FF;

}

html
{
    font-size: 62.5%;
    box-sizing: border-box;
    background: rgb(2,44,52);
    background: linear-gradient(90deg, rgba(2,44,52,1) 15%, rgba(0,151,167,1) 40%, rgba(6,112,132,1) 60%, rgba(2,44,52,1) 85%);
    scroll-snap-type: y mandatory;
}

h1,h2,h3
{
    text-align: center;
}

/*Memo Toño*/  

.nav_bg
{
    background-color: var(--AzulNebulosa);
    border-radius: 10%;
}

.nav_principal
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.iconos
{
    max-width: 120rem;
    margin: 0 auto;
}

.redes
{
    display: inline-block;
    padding: 1rem;
    font-size: 16px; /* Tamaño de la fuente del icono */
    text-align: center;
    cursor: pointer;
    border-radius: 5rem;
}
.redes:hover
{
    margin: 1rem;
    border: 1px solid var(--AzulNocturno2 );
    background-color: var(--AzulNocturno);
}

.hero
{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
    border-radius: 2%;
}

.container-hero
{
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    border-radius: 2%;
}

.container-hero a
{
    color: var(--AzulNocturno);
    font-size: 5rem;
    font-family: 'Roboto Slab', serif;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
    text-decoration: none;
    padding-bottom: 2rem;
    text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);

}

.container-hero a:hover
{
    color: var(--terciario);
    font-size: 5rem;
    margin: 1rem;
}

.contain-shadow
{
    margin: 1rem;
    border-radius: 2%;
    background-color: var(--AzulNebulosa);
    padding: 1.5rem;
    
}
.contain-shadow h3
{
    margin: 0;
    font-size: 4rem;
    color: var(--primario);
    text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    font-family: 'Krub', sans-serif;
    margin: 2rem;

}

.date
{
    border: .1rem solid var(--AzulEspacial); /* Puedes cambiar el color y el grosor según tus preferencias */
    font-size: 2.5rem;
    font-family: 'Roboto Slab', serif;
    background-color: var(--AzulNebulosa2);
}

.date h2,
.date p, 
.date a
{
    display: inline-block;
    margin-left: 4rem;
    margin-right: 7rem;

}

.find-tickets 
{
    display: inline-block;
    padding: 1rem 2rem; /* Ajusta el relleno según tus preferencias */
    text-decoration: none;
    background-color: var(--AzulNebulosa2); /* Cambia el color de fondo según tus preferencias */
    color: var(--AzulCeleste2); /* Cambia el color del texto según tus preferencias */
    border: .3rem solid var(--AzulCeleste2); /* Puedes cambiar el color y el grosor según tus preferencias */
    border-radius: 3rem; /* Ajusta el radio de la esquina para lograr la forma redondeada */
}

.find-tickets:hover 
{
    background-color: var(--AzulNebulosa); /* Cambia el color de fondo al pasar el mouse */
}

.information
{
    padding: 1rem;
    background-color: var(--AzulNebulosa);

}
.form-subscribe
{
    text-align: center;
    background-color: var(--AzulNebulosa);
    width: min(50rem, 100%);
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5rem;
}

  .form-subscribe fieldset {
    border: none;
    font-size: 2rem;
}
  
 .form-subscribe legend {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: white; /*Color solo puesto para ver cambios*/
    text-transform: uppercase;
  }
.entrada{
    margin-bottom: 1rem;
}
.entrada label 
{
    color: var(--blanco);
    font-weight: bold;
    display: block;
    color: pink;
}

.entrada input
{
    background-color: var(--AzulEspacial);
    font-style: italic;
}

::placeholder
{
    color: var(--AzulCeleste3);
}

.boton_enviar
{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid var(--AzulNocturno);
    border-radius: 5px;
    color: var(--AzulEspacial);
    background-color:var(--AzulNocturno);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.boton_enviar:hover
{
    background-color: #3498db;
    color: #fff;
    border-color: #fff;
}

.contact
{   
    padding: 1rem;
    border-top: .1rem solid var(--AzulEspacial); /* Puedes cambiar el color y el grosor según tus preferencias */
    justify-content: left; /* Alineación a la izquierda */
    font-size: 1.5rem; /* Tamaño de la fuente */
    background-color: var(--AzulNebulosa);
}
.contact h2
{
    margin: 0;
    text-align: left; /* Alineación del texto a la izquierda */
    color: var(--oscuro); /* Color del texto */
    font-size: 3.7rem; /* Tamaño de la fuente */
    margin-bottom: 2rem; /* Margen inferior */
}
.contact p
{
    padding: 1rem;
    margin: 0;
    color: var(--blanco); /* Color del texto */
}


/*Uicab*/
.footer
{
    margin: 1rem;
    background-color: var(--AzulNebulosa);
    font-size: 2rem;
    font-family: 'Krub', sans-serif;
    text-align: center;
}
.footer p
{
    padding: 1rem;
    border-top: .1rem solid var(--AzulEspacial); /* Puedes cambiar el color y el grosor según tus preferencias */
    margin: 0;
}

@media (min-width: 768px) 
{
    .nav_principal
    {
        flex-direction: row;
    }
    
}
