:root
{
    --primario: #067084;
    --secundario: #0097a7;
    --terciario: #022C34;
    --oscuro: #212121;
    --gris: #757575;
    --blanco: #fff;
}

html
{
    font-size: 62.5%;
    box-sizing: border-box;
    background: rgb(2,44,52);
    background: linear-gradient(90deg, rgba(2,44,52,1) 0%, rgba(0,151,167,1) 25%, rgba(6,112,132,1) 75%, rgba(2,44,52,1) 100%);
    
    
    scroll-snap-type: y mandatory;
}

/*TIPOGRAFIA*/
h1
{
    font-size: 3.8rem;
}
h2
{
    font-size: 2.8rem;
}
h3
{
    font-size: 1.8rem;
}
h1,h2,h3
{
    text-align: center;
}

/*Guille*/  
.header{
    background-color: var(--oscuro);
} 
.iconos{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.spotify{
    margin-left: 5rem;
}
.youtube{
    margin-left: 5rem;
}
.AppleMusic{
    margin-left: 5rem;
}

/*ypo*/
.hero
{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}




.contain-shadow
{

}

/*Edgar*/
.information
{
    
}

/*Isau*/
.contact
{
    justify-content: left; /* Alineaci칩n a la izquierda */
    padding: 1rem; /* Relleno */
    font-size: 1.5rem; /* Tama침o de la fuente */
}
.contact h2
{
    text-align: left; /* Alineaci칩n del texto a la izquierda */
    color: var(--oscuro); /* Color del texto */
    font-size: 3.7rem; /* Tama침o de la fuente */
    margin-bottom: 2rem; /* Margen inferior */
}
.contact p{
    color: var(--blanco); /* Color del texto */
}


/*Uicab*/
.footer
{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}